{% extends 'base.html' %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

  <p><a href="{% url 'home' %}">Return to home</a></p>


  <div class="container text-center">
    <ul>
      <li>
        <a href="#">Simple Upload</a>
      </li>
      <li>
        <a href="#">Model Form Upload</a>
        {% comment %} {% url 'model_form_upload' %} {% endcomment %}
      </li>
    </ul>

    <p>Uploaded files:</p>
    {% comment %} <ul>
      {% for obj in ["2", "4"] %}
        <li>
          <a href="#">{{ obj }}</a>
          <small>(Uploaded at: {{ obj }})</small>
        </li>
      {% endfor %}
    </ul> {% endcomment %}
  </div>
{% endblock %}