{% extends 'main/base.html' %}

{% block content %}
<div class="upload">
    <div class="mt-5 mb-3">
        <h3>Upload file</h3>
    </div>
    <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
            <div class="form-upload">
                <div class="pt-3 pb-3">
                    <div class="form-group">
                        <label for="nputEmail1File">Select a file</label>
                        <input type="file" class="fcustom-file-input" id="InputFile" placeholder="Select a file">
                    </div>
                    <button id="btn-upload" type="submit" class="btn btn-primary">Ok</button>
                    <div id="succ"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2"></div>
    </div>
</div>

<script>
    document.getElementById('btn-upload').onclick = function () {
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

        var inputfile = document.getElementById("InputFile").files[0];
        var frd = new FormData();
        frd.append("file", inputfile);
        axios.post('{% url 'ajax_upload' %}', frd, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        }).then(function (response) {
            if (response.data == "ok"){
                document.getElementById("succ").innerHTML = "Файл загружен. БД обновлена.";
            }
            console.log(response);
        }).catch(function (error) {
            console.log(error);
        });
    };
</script>
{% endblock %}